* {
  box-sizing: border-box;
}

body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
  margin: 0;
}

.dark-light-mode {
  display: flex;
  justify-content: flex-end;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}
.toggle-button {
  background-color: none !important;
  font-size: 16px;
}

html {
  background-color: #f1f1f1;
}

h1 {
  text-align: center;
  font-size: 48px;
  color: dodgerblue;
}

h2 {
  text-align: center;
  font-size: 36px;
}

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 52px;
  z-index: 10;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fa-solid {
  font-size: 32px;
  color: tomato;
}

.fa-brands {
  font-size: 32px;
  color: dodgerblue;
}

.p-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-container > p {
  padding: 16px 16px;
  width: 85vw;
  border-radius: 16px;
}

.fixed-button {
  position: -webkit-sticky;
  position: sticky;
  top: 250px;
  z-index: 1;
}

button {
  background-color: dodgerblue;
  border: none;
  color: white;
  padding: 8px 18px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

img {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  border: 1px solid;
  object-fit: fill;
  /* opacity: 0.6;  */
  filter: drop-shadow(8px 8px 10px tomato);
}
